@import '@knadh/oat/oat.min.css';
@import './theme.css';

@layer base {
  
  *, *::before, *::after {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
  }

  body {
    font-family: var(--font-primary);
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-headings);
  }

  a {
    color: var(--foreground);
  }
}

@layer components {
  :root {
    --container-max: 960px;
    --article-max: 840px;
  }
  .article {
    max-width: var(--article-max);
  }
  .nav-link {
    text-decoration: none;
    
    &:hover {
      color: rgb(from var(--foreground) r g b / 0.8);
    }
  }
}