@import '@knadh/oat/oat.min.css';
@import './theme.css';

@layer base {
  body {
    font-family: var(--font-primary);
  }
}

@layer components {
  :root {
    --container-max: 1280px;
    --article-max: 960px;
  }
  
  .container {
    width: 100%;
    max-width: var(--container-max);
    margin-inline: auto;
    padding-inline: var(--container-pad);
  }

  .article {
    max-width: var(--article-max);
  }
}