@import '@knadh/oat/oat.min.css';
@import './theme.css';

@layer base {
  
  *, *::before, *::after {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
  }

  body {
    font-family: var(--font-primary);
  }

  html[data-theme="dark"] {
    color-scheme: dark;
    background-color: #09090b;
    color: #fafafa;
  }
}

@layer components {
  :root {
    --article-max: 960px;
  }

  .article {
    max-width: var(--article-max);
  }
}