---
import BaseLayout from "@/layouts/BaseLayout.astro";
import SEO from "@/components/SEO.astro";
import PageHeader from "@/components/PageHeader.astro";
import Search from "@/components/Search.astro";
---

<BaseLayout>
  <SEO slot="seo" title="Search" description="Search all posts" noindex={true} />

  <div class="container">
    <PageHeader title="Search" />
    <Search />
  </div>
</BaseLayout>