---
import { siteConfig } from "@/site.config";
---

<footer>
  <p>&copy; {new Date().getFullYear()} {siteConfig.author}</p>
  <ul>
    {siteConfig.social.map((item) => (
      <li>
        <a href={item.url} target="_blank" rel="noopener noreferrer">
          {item.title}
        </a>
      </li>
    ))}
  </ul>
</footer>