---
import { siteConfig } from "@/site.config";
---

<header>
  <nav>
    <a href="/" class="brand">{siteConfig.title}</a>
    <ul>
      {siteConfig.navigation.map((item) => (
        <li>
          <a href={item.url}>{item.title}</a>
        </li>
      ))}
    </ul>
  </nav>
</header>