---
import type { CollectionEntry } from "astro:content";
import BaseLayout from "@/layouts/BaseLayout.astro";
import SEO from "@/components/SEO.astro";
import PageHeader from "@/components/PageHeader.astro";

interface Props {
  entry: CollectionEntry<"pages">;
}

const { entry } = Astro.props;
const { title, description } = entry.data;
---

<BaseLayout>
  <SEO slot="seo" {title} {description} />

  <div class="container">
    <PageHeader {title} />
    <section>
      <slot />
    </section>
  </div>
</BaseLayout>